.hero {
  background-color: #3c096c;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

.hero-button {
  margin-top: 20px;
  background-color: #10002b;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.hero-button:hover {
  background-color: #242423;
}
